a{
    text-decoration: none;
    color: cornsilk;
}

a:hover{
    text-decoration: underline;
}

#hat{
    padding: 1%;
    background-image: url(images/loupe-1.jpg);
}
#header{
    position: relative; left: 43%; 
    background-color: rgb(13, 8, 59);
    text-align: center;
     border-radius: 10px;
     color: cornsilk;
     width: 14%;
     
}

#controlpanel{
    position: relative;
    background-color: rgb(13, 8, 59);
    color: cornsilk;
    margin-top: 5px;
    height: 5%;
}
#controlpanel table{
    position: relative;
    left: 45%;
    
}

#sidebar_left{
    float: left;
    width: 10%;
    margin-right: 5px;
    
    
}

#sidebar_left img{
    width: 95%;
    height: 200px;
    transition: 1s;
}

#sidebar_left img:hover{
    transform: scale(1.2);
}

#sidebar_right{
    float: right;
    margin-left: 5px;
    width: 10%;
    
    
}

#sidebar_right img{
    margin-left: 5%;
    width: 95%;
    height: 200px;
    transition: 1s;
}

#sidebar_right img:hover{
    transform: scale(1.2);
}

#content{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(13, 8, 59);
    border-radius: 10px;
    color: cornsilk;
    padding: 1%;
}

#footer{
    background-image: url(images/loupe-1.jpg);
    height: 20px;
    margin-bottom: 0%;
}